<div class="uk-card uk-card-body uk-card-default">
  <div class="uk-inline uk-width-1-1">
    <input
      class="uk-input uk-width-1-1"
      type="text"
      placeholder="Cowboy Bebop"
      (keyup)="onKeyup($any($event.currentTarget).value)"
    >
  </div>
  <div class="uk-inline uk-width-1-1 uk-margin-small-top">
    <label><input class="uk-checkbox" type="checkbox" checked="checked"
                  (change)="onCheckbox($any($event.currentTarget).checked)"> Без 18+ контента</label>
  </div>
</div>
