$primary: #3F51B5;
$primary-dark: darken($primary, 20%);
$white: #F7F7F7;
$placeholder: #BDBDBD;

/* UIKit override */

$global-color: #404040;
$global-inverse-color: $white;

$global-link-color: $primary;
$global-link-hover-color: $primary-dark;

$global-background: $white;
$global-primary-background: $primary;
$global-secondary-background: $global-color;

$card-default-background: #fff;

$form-background: #fff;
$form-focus-background: #fff;


@import "uikit/src/scss/variables-theme.scss";
