<div class="uk-card uk-card-default uk-card-body uk-margin-small-bottom">
  <h3 class="uk-card-title">Информация</h3>
  <div>
    <ul>
      <li>Искать аниме можно на <a routerLink="/search">странице поиска</a></li>
      <li>Кликните на нужный тайтл, чтобы перейти на страницу просмотра</li>
      <li>Вы можете произвести авторизацию с помощью Shikimori, чтобы получить доступ к дополнительным функциям</li>
      <li>Авторизованный пользователь может добавлять аниме в списки</li>
    </ul>
  </div>
</div>
