@import "src/styles/variables";

.title-page {
  &__block {
    padding: 0 $padding-small-padding $padding-padding;

    &_left {
    }

    &_right {
    }
  }
}

.select-list__option {
  width: 100%;
  margin-bottom: 20px;
}
