.not-found {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  user-select: none;

  &__label {
    font-weight: bold;
    font-size: 7rem;
    line-height: 1.2;
  }

  &__description {
    font-size: 1.25rem;
  }
}
