@import "src/styles/variables";

.search-page {
  &__element {
    margin-bottom: $margin-margin;
  }
}

.search-page__no-results {
  &-block {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &-text {
    color: $placeholder;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
  }
}
