<div class="search-page__element">
  <app-search-field
    (searchResults)="onSearchResults($event)"
  ></app-search-field>
</div>

<div class="search-page__element">
  <ng-container *ngIf="(searchResults$ | async)?.length; else no_results">
    <app-titles-list
      [titles]="searchResults$"
      orientation="vertical"
    ></app-titles-list>
  </ng-container>
</div>

<ng-template #no_results>
  <div
    *ngIf="searchResults$ | async"
    class="search-page__no-results-block"
  >
    <span class="search-page__no-results-text">No results</span>
  </div>
</ng-template>
